In [60]:
import pandas as pd
import numpy as np

In [61]:
file = "purchase_data.csv"

raw_data = pd.read_csv(file)

raw_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [62]:
player_list = raw_data["SN"].unique()
player_count = len(player_list)
total_player_count = pd.DataFrame({"Total Players":[player_count]})
total_player_count.head()

   Total Players
0            576

In [63]:
item_list = raw_data["Item Name"].unique()
num_purchases = len(raw_data["Purchase ID"])
total_revenue = raw_data["Price"].sum()

avg_price = round(total_revenue/num_purchases,2)

purchase_summary = pd.DataFrame({
            "Number of Unique Items": [num_purchases],
            "Average Price":["$"+str(avg_price)],
            "Number of Purchases": [num_purchases],
            "Total Revenue": ["$"+str(total_revenue)]
})

purchase_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     780         $3.05                  780      $2379.77

In [64]:
duplicate_sn_removed = raw_data.drop_duplicates("SN")
gender_count = duplicate_sn_removed["Gender"].value_counts()
gender_percent = round((gender_count/player_count)*100,2)
gender_count_df = pd.DataFrame({
            "Total Count": gender_count,
            "Percentage of Players": gender_percent
})

gender_count_df.head()

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [65]:
gender_group = raw_data.groupby(["Gender"])
purchase_count = gender_group["Purchase ID"].count()
total_purchase_value = gender_group["Price"].sum()
avg_purchase_price = round(total_purchase_value/purchase_count,2)
avg_purchase_per_person = round(total_purchase_value/gender_count,2)
gender_summary = pd.DataFrame({
            "Purchase Count": purchase_count,
            "Average Purchase Price": avg_purchase_price.apply("${0:.2f}".format),
            "Total Purchase Value": total_purchase_value.apply("${0:.2f}".format),
            "Avg Total Purchase per Person":avg_purchase_per_person.apply("${0:.2f}".format)
})

gender_summary.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [66]:
bins = [0,9,14,19,24,29,34,39,100]
names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

age_summary = pd.cut(duplicate_sn_removed["Age"], bins, labels=names)

age_count = age_summary.value_counts()

percent_age = round((age_summary.value_counts())/(player_count)*100,2)

age_breakdown = pd.DataFrame({
            "Total Count": age_count,
            "Percentage of Players": percent_age,
})

age_breakdown_sorted = age_breakdown.sort_index(ascending=True)
age_breakdown_sorted

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

In [67]:
raw_data["Age Group"] = pd.cut(raw_data["Age"], bins, labels=names)

total_purchase_valye_by_age = raw_data.groupby(["Age Group"]).sum()["Price"]
purchase_count_by_age = raw_data.groupby(["Age Group"]).count()["Price"]
avg_purchase_by_age = raw_data.groupby(["Age Group"]).mean()["Price"]

purchasing_analysis_by_age = pd.DataFrame({"Purchase Count": purchase_count_by_age,
         "Average Purchase Price":avg_purchase_by_age.apply("${0:.2f}".format),
         "Total Purchase Value": total_purchase_valye_by_age.apply("${0:.2f}".format),
         "Avg Total Purchase per Person":avg_purchase_by_age.apply("${0:.2f}".format)
 })

purchasing_analysis_by_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

In [68]:
unique_sn_count = raw_data.groupby(["SN"]).count()["Price"]
total_purchase_per_sn = raw_data.groupby(["SN"]).sum()["Price"]
avg_purchase_per_sn = raw_data.groupby(["SN"]).mean()["Price"]

top_spenders = pd.DataFrame({"Purchase Count":unique_sn_count,
                             "Average Purchase Price":avg_purchase_per_sn.apply("${0:.2f}".format),
                             "Total Purchase Price":total_purchase_per_sn.apply("${0:.2f}".format)
    
})

top_spenders = top_spenders.sort_values("Total Purchase Price",ascending=False)
top_spenders

               Purchase Count Average Purchase Price Total Purchase Price
SN
Haillyrgue51                3                  $3.17                $9.50
Phistym51                   2                  $4.75                $9.50
Lamil79                     2                  $4.64                $9.29
Aina42                      3                  $3.07                $9.22
Saesrideu94                 2                  $4.59                $9.18
Arin32                      2                  $4.54                $9.09
Rarallo90                   3                  $3.02                $9.05
Baelollodeu94               2                  $4.51                $9.03
Aelin32                     3                  $2.99                $8.98
Lisopela58                  3                  $2.95                $8.86
Saedaiphos46                3                  $2.94                $8.83
Chanastnya43                3                  $2.94                $8.82
Reunasu60                   2                  $4.41                $8.82
Raesty92                    3                  $2.91                $8.73
Sundadar27                  2                  $4.35                $8.71
Aerithllora36               2                  $4.32                $8.64
Hada39                      3                  $2.86                $8.57
Chamilsala65                2                  $4.28                $8.55
Silaera56                   3                  $2.83                $8.48
Frichocesta66               2                  $4.19                $8.37
Chadista79                  2                  $4.17                $8.35
Pheodaisun84                3                  $2.77                $8.31
Undosian34                  2                  $4.15                $8.30
Idai61                      3                  $2.74                $8.23
Lassimla92                  2                  $4.08                $8.17
Umolrian85                  3                  $2.71                $8.13
Zontibe81                   3                  $2.68                $8.03
Zhisrisu83                  2                  $3.94                $7.89
Sondastsda82                3                  $2.63                $7.89
Aidaillodeu39               2                  $3.93                $7.86
...                       ...                    ...                  ...
Shidai42                    1                  $1.33                $1.33
Jiskjask85                  1                  $1.33                $1.33
Eyista89                    1                  $1.29                $1.29
Philodil43                  1                  $1.29                $1.29
Mindilsa60                  1                  $1.28                $1.28
Jiskimsda56                 1                  $1.14                $1.14
Tyarithn67                  1                  $1.14                $1.14
Aisur51                     1                  $1.14                $1.14
Ilista82                    1                  $1.14                $1.14
Iduelis31                   1                  $1.10                $1.10
Yasur85                     1                  $1.10                $1.10
Eryon48                     1                  $1.10                $1.10
Aillyriadru65               1                  $1.10                $1.10
Undjask33                   1                  $1.10                $1.10
Lirtassa52                  1                  $1.09                $1.09
Aelidru27                   1                  $1.09                $1.09
Yalaeria91                  1                  $1.06                $1.06
Aesurstilis64               1                  $1.03                $1.03
Saida58                     1                  $1.03                $1.03
Euthe35                     1                  $1.03                $1.03
Frichjaskan98               1                  $1.02                $1.02
Hala31                      1                  $1.02                $1.02
Eudanu84                    1                  $1.02                $1.02
Isurria36                   1                  $1.02                $1.02
Irilis75                    1                  $1.02                $1.02
Qilalista41                 1                  $1.02                $1.02
Ililsasya43                 1                  $1.02                $1.02
Aidai61                     1                  $1.01                $1.01
Chanirra79                  1                  $1.01                $1.01
Alo38                       1                  $1.00                $1.00

[576 rows x 3 columns]

In [73]:
item_id_one = raw_data.loc[:,["Item ID", "Item Name", "Price"]]

item_count = item_id_one.groupby(["Item ID","Item Name"]).count()["Price"]
item_price = item_id_one.groupby(["Item ID","Item Name"]).mean()["Price"]
item_total = item_id_one.groupby(["Item ID","Item Name"]).sum()["Price"]

popular_items = pd.DataFrame({"Purchase Count" : item_count,
                              "Item Price" : item_price.apply("${0:.2f}".format),
                              "Total Purchase Value" : item_total.apply("${0:.2f}".format)
})

popular_items = popular_items.sort_values("Purchase Count",ascending=False)
popular_items

dtype('float64')

In [70]:
popular_items = popular_items.sort_values("Total Purchase Value",ascending=False)
popular_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
1,Crucifer,3,$3.26,$9.78
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
143,Frenzied Scimitar,6,$1.56,$9.36
7,"Thorn, Satchel of Dark Souls",7,$1.33,$9.31
18,"Torchlight, Bond of Storms",2,$4.65,$9.30
129,"Fate, Vengeance of Eternal Justice",6,$1.54,$9.24
166,Thirsty Iron Reaver,3,$3.07,$9.21
123,Twilight's Carver,4,$2.28,$9.12
49,"The Oculus, Token of Lost Worlds",3,$2.96,$8.88
156,Soul-Forged Steel Shortsword,5,$1.77,$8.85
161,Devine,5,$1.76,$8.80
149,"Tranquility, Razor of Black Magic",5,$1.75,$8.75
107,"Splitter, Foe Of Subtlety",4,$2.18,$8.72
169,"Interrogator, Blood Blade of the Queen",4,$2.18,$8.72
122,Unending Tyranny,3,$2.85,$8.55
4,Bloodlord's Fetish,5,$1.70,$8.50
181,Reaper's Toll,5,$1.66,$8.30
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
142,Righteous Might,3,$2.62,$7.86
127,"Heartseeker, Reaver of Souls",2,$3.92,$7.84
97,"Swan Song, Gouger Of Terror",3,$2.50,$7.50
6,Rusty Skull,2,$3.70,$7.40
81,Dreamkiss,2,$3.61,$7.22
131,Fury,5,$1.44,$7.20
10,Sleepwalker,4,$1.79,$7.16
43,Foul Edge,2,$3.54,$7.08
152,Darkheart,4,$1.74,$6.96
...,...,...,...,...
162,Abyssal Shard,5,$2.67,$13.35
83,Lifebender,4,$3.33,$13.32
22,Amnesia,6,$2.18,$13.08
119,"Stormbringer, Dark Blade of Ending Misery",3,$4.32,$12.96
76,Haunted Bronzed Bludgeon,4,$3.15,$12.60
172,Blade of the Grave,4,$3.14,$12.56
74,Yearning Crusher,3,$4.18,$12.54
117,"Heartstriker, Legacy of the Light",7,$1.79,$12.53
85,Malificent Bag,7,$1.75,$12.25
79,"Alpha, Oath of Zeal",3,$4.05,$12.15
105,Hailstorm Shadowsteel Scythe,4,$3.03,$12.12
182,Toothpick,3,$4.03,$12.09
148,"Warmonger, Gift of Suffering's End",3,$4.03,$12.09
44,Bonecarvin Battle Axe,5,$2.38,$11.90
93,Apocalyptic Battlescythe,6,$1.97,$11.82
8,"Purgatory, Gem of Regret",3,$3.93,$11.79
144,Blood Infused Guardian,6,$1.94,$11.64
61,Ragnarok,3,$3.87,$11.61
164,Exiled Doomblade,7,$1.63,$11.41
84,Arcane Gem,3,$3.79,$11.37
71,Demise,7,$1.61,$11.27
9,"Thorn, Conqueror of the Corrupted",4,$2.73,$10.92
112,Worldbreaker,4,$2.60,$10.40
73,Ritual Mace,5,$2.05,$10.25
106,Crying Steel Sickle,3,$3.41,$10.23
151,Severance,3,$3.40,$10.20
110,Suspension,7,$1.44,$10.08
23,Crucifer,1,$1.99,$1.99
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75